.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 10%;
  height: 10%;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}